<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <link rel="icon" href="../assets/images/favico.ico">
    <title>Julia Saucedo</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/reset.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
		<link rel="stylesheet" href="https://use.typekit.net/qww4ooj.css">
  </head>
	<body>
    <header class="container">
      <div id="logo"><a href="../index.html"><img src="../assets/images/logo2.0.png"></a></div>
      <nav>
        <a href="./resume.html"><h3 class="active-tab">Resume</h3></a>
        <a href="./style.html"><h3>Style Guide</h3></a>
        <a href="./projects.html"><h3>Projects</h3></a>
      </nav>
    </header>
		
    <!-- Start Resume Content -->
    <section class="main-container">

      <section class="container">
          <h1>Julia P. Saucedo</h1>
          <p>CV</p>
          <p>Last Updated: August 2018</p>
      </section>
      <br>

      <!-- Start Professional Content -->
      <section class="resume-content">
        <h1>PROFESSIONAL EXPERIENCE</h1>
        <hr>

        <div>
          <h2>Trilogy Education Services // Teaching Assistant</h2>
          <h3>2018 - Present</h3>
          <h3>Chicago, IL</h3>
        </div>
          <p>Deliver one-to-one and small group support to a diverse student body in a 24-week Data Science program at Northwestern University. Prepare students to develop independent learning skills and manage their own progress. Coordinate with instructional staff to improve course content and relevance.</p>

        <br>

        <div>
          <h2>Mosaic Sales Solutions // Operations Analyst, Procurement</h2>
          <h3>2017 - Present</h3>
          <h3>Chicago, IL</h3>
        </div>
          <p>Analyst supporting enterprise wide operations and financial goals through the built and management of key performance
             indicators (KPIs), reporting and business process design. Utilize common sense and high-attention to detail to audit 
             and improve internal data quality to deliver valuable insights and actionable recommendations to senior leadership 
             and C-suite. Work with stakeholders and lead change management to increase cost savings and improve operational 
             efficiency of the corporate travel program.</p>
        
        <br>

        <div>
          <h2>Mosaic Sales Solutions // Buyer</h2>
          <h3>2015 - 2017</h3>
          <h3>Chicago, IL</h3>
        </div>
          <p>Lead cross-functional team communication to manage all aspects of purchasing processes. Deliver against strategic 
            sourcing objectives through supplier solution development, negotiation, and ongoing management. Work cross-functionally
             to assess vendor risk level and manage contracting processes from draft to execution.</p>
         
        <br>
          
        <div> 
          <h2>Mosaic Sales Solutions // Client Services Account Manager</h2>
          <h3>2014 - 2015</h3>
          <h3>Chicago, IL</h3>
        </div>
          <p>Monitored and reconciled expenses for programs with budgets up to $850K.
              Directed travel logistics and B2C communication with all 100 nationwide winners for Bud Light’s House of Whatever 
              sweepstake during Super Bowl XLIX in Phoenix, AZ.</p>

        <br>
        
        <div> 
          <h2>Marketing Werks // Account Coordinator</h2>
          <h3>2012 - 2014</h3>
          <h3>Chicago, IL</h3>
        </div>
          <p>Researched markets, negotiated events and collected field data to strategically route client’s brand presence across 
            the South, West, and Midwest national markets. Mentor and supervise day to day activities of Street Team coordinators 
            through open communication. Successfully administer client event initiatives from concept to execution. Lead weekly 
            client calls to present recap reports and sell new business opportunities.</p>


        <br>
      
        <div> 
          <h2>Marketing Werks // Verizon Wireless Bilingual Tour Coordinator</h2>
          <h3>2010 - 2011</h3>
          <h3>Chicago, IL</h3>
        </div>
          <p>Traveled throughout the US as part of a multi-week long event campaign for Verizon Wireless, showcasing the latest in mobile technology innovation. Direct and execute events as co-emcee in both English and Spanish to educate consumers about client’s products and services while maintaining an optimal brand representation at all times. Train and supervise Brand Ambassadors and manage all event site elements from set-up to tear down.</p>

        <br>
        <h1>EDUCATION</h1>
        <hr>

        <div>
          <h2>Northwestern University</h2>
          <h2>Full-Stack Web Development Certification</h2>
          <h3>2017</h3>
          <h3>Chicago, IL</h3>
        </div>

        <br>

        <div>
          <h2>Rockhurst University</h2>
          <h2>Bachelors of Business Administration: Accounting</h2>
          <h3>Minor: Philosophy & Spanish</h3>
          <h3>2006-2010</h3>
          <h3>Kansas City, MO</h3>
        </div>
      
        <br>
        <h1>LANGUAGES / TECHNICAL SKILLS</h1>
        <hr>

        <h3>Spanish (Fluent/Native) | Italian (Beginner) | German (Beginner)</h3>
        <h3>Excel, Word, Visio, PowerPoint, Microsoft 365, Git, HTML, SQL, React, MongoDB, CSS, JavaScript, Jira, Python, Node.js</h3>
      

        <br>
        <h1>ADDITIONAL INFORMATION</h1>
        <hr>

        <p>WISE Within Committee: Board member on the W.I.S.E Chicago Chapter mentoring program</p>

          <!-- End Professionl Content -->      
      </section>

    <!-- End Resume Content -->
    </section>

    <section class="container social">
      <p>Let's Connect!</p>
      <a href="https://www.linkedin.com/in/juliasaucedo/" target="_blank"><img src="../assets/images/linkedin.svg"></a>
      <a href="https://github.com/JPSauSara" target="_blank"><img src="../assets/images/github.svg"></a>
      <a href="https://www.instagram.com/julia_paola/" target="_blank"><img src="../assets/images/instagram.svg"></a>
    </section>

		<footer class="container">
      <p>© Copyright 2018 Julia Saucedo</p>
    </footer>
		
	</body>
</html>